<footer class="section" id="footer" role="contentinfo">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <h3>Contact us</h3>
        <p>We are always interested talking to developers and learning about what you're working on.</p>
        <ul class="icons">
          <li>
            <i class="icon-envelope"></i>
              <a href="mailto:info@symmetricinfinity.com">info@symmetricinfinity.com</a>
          </li>
          <li>
            <i class="icon-twitter"></i>
              <a href="http://twitter.com/adamvduke/" target="_blank">@adamvduke</a>
          </li>
          <li>
            <i class="icon-github-alt"></i>
              <a href="https://github.com/adamvduke/" target="_blank">adamvduke</a>
          </li>
          <li>
            <i class="icon-twitter"></i>
              <a href="http://twitter.com/snatchev/" target="_blank">@snatchev</a>
          </li>
          <li>
            <i class="icon-github-alt"></i>
              <a href="https://github.com/snatchev/" target="_blank">snatchev</a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h3>Recent news</h3>
        <ul class="icons">
          <li>
            <p><i class="icon-twitter"></i>We've been working hard on supporting the new Safari Push Notifications.<small>by <a href="https://twitter.com/zeropush/status/395962627580784641" target="_blank">@zeropush</a></small></p>
          </li>
          <li>
          <p><i class="icon-twitter"></i>We’re excited to sponsor <a href="https://twitter.com/barcampphilly">@BarcampPhilly</a> this year! Hope to see you there! <a href="http://2013.barcampphilly.org">http://2013.barcampphilly.org</a> <small>by <a href="https://twitter.com/zeropush/status/393018009360826368" target="_blank">@zeropush</a></small></p>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h3>Latest posts</h3>
        <ul class="unstyled">
          {% for post in site.posts limit:3 %}
          <li>
          <h4>
            <a href="{{post.url}}">{{post.title}}</a>
          </h4>
          <p>
          <small>{{ post.date | date_to_string }}</small>
          </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>

