<footer class="section" id="footer" role="contentinfo">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <h3>Hire us</h3>
        <p>We are always interested in finding new and interesting projects to work on.</p>
        <ul class="icons">
          <li>
            <i class="icon-envelope"></i>
              <a href="mailto:info@symmetricinfinity.com">info@symmetricinfinity.com</a>
          </li>
          <li>
            <i class="icon-twitter"></i>
              <a href="http://twitter.com/adamvduke/" target="_blank">@adamvduke</a>
          </li>
          <li>
            <i class="icon-github-alt"></i>
              <a href="https://github.com/adamvduke/" target="_blank">adamvduke</a>
          </li>
          <li>
            <i class="icon-twitter"></i>
              <a href="http://twitter.com/snatchev/" target="_blank">@snatchev</a>
          </li>
          <li>
            <i class="icon-github-alt"></i>
              <a href="https://github.com/snatchev/" target="_blank">snatchev</a>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h3>Recent news</h3>
        <ul class="icons">
          <li>
          <p><i class="icon-twitter"></i>We’re happy to tell you that Ruby on Rails has been accepted into Google Summer of Code 2013!<small>by <a href="https://twitter.com/rails/status/321343424391421952">@rails</a></small></p>
          </li>
          <li>
          <p><i class="icon-twitter"></i>[SEC] [ANN] Rails 3.2.13, 3.1.12, and 2.3.18 have been released! Please check out the announcement!<small>by <a href="https://twitter.com/rails/status/313709731787190272">@rails</a></small></p>
          </li>
        </ul>
      </div>
      <div class="span4">
        <h3>Latest posts</h3>
        <ul class="unstyled">
          {% for post in site.posts limit:3 %}
          <li>
          <h4>
            <a href="{{post.url}}">{{post.title}}</a>
          </h4>
          <p>
          <small>{{ post.date | date_to_string }}</small>
          </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>

