<div class="btn-group" id="style-switcher">
  <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
    <i class="icon-cog"></i>
  </button>
  <ul class="dropdown-menu">
    <li>
    <ul class="theme-patterns">
      <li>
      <a class="pattern-lightmesh pattern-switch" data-pattern="theme-pattern-lightmesh">theme-pattern-lightmesh</a>
      </li>
      <li>
      <a class="pattern-bedge-grunge pattern-switch" data-pattern="theme-pattern-bedge-grunge">theme-pattern-bedge-grunge</a>
      </li>
      <li>
      <a class="pattern-grid pattern-switch" data-pattern="theme-pattern-grid">theme-pattern-grid</a>
      </li>
      <li>
      <a class="pattern-noisy-grid pattern-switch" data-pattern="theme-pattern-noisy-grid">theme-pattern-noisy-grid</a>
      </li>
      <li>
      <a class="pattern-subtle-grey pattern-switch" data-pattern="theme-pattern-subtle-grey">theme-pattern-subtle-grey</a>
      </li>
      <li>
      <a class="pattern-retina-wood pattern-switch" data-pattern="theme-pattern-retina-wood">theme-pattern-retina-wood</a>
      </li>
      <li>
      <a class="pattern-noise-lines pattern-switch" data-pattern="theme-pattern-noise-lines">theme-pattern-noise-lines</a>
      </li>
      <li>
      <a class="pattern-tiny-grid pattern-switch" data-pattern="theme-pattern-tiny-grid">theme-pattern-tiny-grid</a>
      </li>
      <li>
      <a class="pattern-clean-paper pattern-switch" data-pattern="theme-pattern-clean-paper">theme-pattern-clean-paper</a>
      </li>
      <li>
      <a class="pattern-farmer pattern-switch" data-pattern="theme-pattern-farmer">theme-pattern-farmer</a>
      </li>
      <li>
      <a class="pattern-project-papper pattern-switch" data-pattern="theme-pattern-project-papper">theme-pattern-project-papper</a>
      </li>
      <li>
      <a class="pattern-concrete-wall pattern-switch" data-pattern="theme-pattern-concrete-wall">theme-pattern-concrete-wall</a>
      </li>
      <li>
      <a class="pattern-wavecut pattern-switch" data-pattern="theme-pattern-wavecut">theme-pattern-wavecut</a>
      </li>
      <li>
      <a class="pattern-little-pluses pattern-switch" data-pattern="theme-pattern-little-pluses">theme-pattern-little-pluses</a>
      </li>
      <li>
      <a class="pattern-light-honeycomp pattern-switch" data-pattern="theme-pattern-light-honeycomp">theme-pattern-light-honeycomp</a>
      </li>
      <li>
      <a class="pattern-old-mathematics pattern-switch" data-pattern="theme-pattern-old-mathematics">theme-pattern-old-mathematics</a>
      </li>
      <li>
      <a class="pattern-45-degree-fabric pattern-switch" data-pattern="theme-pattern-45-degree-fabric">theme-pattern-45-degree-fabric</a>
      </li>
      <li>
      <a class="pattern-strange-bullseyes pattern-switch" data-pattern="theme-pattern-strange-bullseyes">theme-pattern-strange-bullseyes</a>
      </li>
      <li>
      <a class="pattern-diamond-upholstery pattern-switch" data-pattern="theme-pattern-diamond-upholstery">theme-pattern-diamond-upholstery</a>
      </li>
      <li>
      <a class="pattern-subtle-stripes pattern-switch" data-pattern="theme-pattern-subtle-stripes">theme-pattern-subtle-stripes</a>
      </li>
    </ul>
    </li>
  </ul>
</div>

