.quote { }
.quote hr { width: 25%; float: left; }
.quote .top {
  font-size: 0.8em;
}

.quote .center {
  font-size: 0.8em;
  float: left;
  font-size: 48px;
  text-transform: none;
  font-style: italic;
  width: 50%;
}

.quote .bottom {
  clear: left;
}

.bordered_image img {
  border-radius: 4px;
  border-style:solid;
  border-width: 1px;
  margin-bottom: 10px;
}

.highlight {
  margin-bottom: 1em;
}

.post_title {
  display: inline-block;
  width: 100px;
}

.post_title_sep {
  display: inline-block;
  width: 5px;
}

.makers-logo {
  height: 250px !important;
  width: 250px !important;
  float: none !important;
  margin: 20px auto 0 auto !important;
}

.no-padding {
  padding: 0px;
}

h1.normal-case {
  text-transform: none;
}

@media (max-width: 760px) {
  #masthead .brand {
    padding-left: 6px;
    padding-right: 0px;
  }
  .hero-unit.promo {
    padding-top: 0px;
  }
}

@media (min-width: 760px) {
  .promo h1 {
    font-size: 50px;
  }
}

.promo p {
  font-size: 17pt;
  margin-top: 2em;
}

@media (min-width: 768px) and (max-width: 979px) {
  #footer {
    font-size: 14px;
  }
}
