body {
  background-image: url(/images/plum.jpg);
  color: #fff;
  padding:0;
}

h1, h2, h3, h4 {
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
}
h2 {
  font-size: 18pt;
  font-weight: 200;
}

#content .container{
  max-width: 768px;
}
#content .with-bar {
  background-color: #222;
  margin-bottom: 2em;
  box-shadow: 0 0 7px 1px #000;
}
#content .container.with-bg {
  background-color: #efefef;
  color: black;
  height: 600px;
  border-radius: 2em;
  border: solid black 3px;
}

#zeropush-logo {
  width: 128px;
  float: left;
  margin-right: 2em;
}

.masthead {
  margin-bottom: 2em;
}

.developers {
  list-style-type: none;
}
.developers li {
}
.developers li p {
  margin-top: 1em;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
}
.developers img {
  margin: 1em;
}
