<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/additional.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    {% include analytics.html %}
  </head>
  <body>
    <div class="site">
      <div id="header">
        <nav>
          <li class="fork"><a href="https://github.com/SymmetricInfinity">⌯∞ On GitHub</a></li>
          <li class="fork"><a href="http://zeropush.com">Zero&rsaquo;Push</a></li>
        </nav>
      </div>
      <div class="wrapper">
        <section>
          <div id="title">
            <p></p>
            <h1><a href="/">Symmetric Infinity ⌯∞</a></h1>
            <hr>
          </div>
          <div id="main_content_wrap">
            {{ content }}
          </div>
        </section>
        <div id="footer">
          <footer>
            <hr>
            <div>
              <span class="credits left">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
