<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/responsive.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/zeropush.css" media="screen" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include analytics.html %} 
  </head>
  <body>
  <div id='content' role='main'>
    {{ content }}
  </div>
  </body>
</html>
